@(title: String,
  styles: Html = Html(""),
  scripts: Html = Html(""))(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <title>@title - CamelCode</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="apple-mobile-web-app-capable" content="yes">

        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

        <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
        <style type="text/css">
            .jumbotron {
                padding: 20px 0;
                margin-bottom: 10px;
                text-align: center;
                border-bottom: 1px solid #d1e6ff;
                background: #d1e6ff repeat-x;
            }
            .jumbotron h1 {
                font-size: 72px;
                line-height: 1;
            }
        </style>

        <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.css" />

        <style type="text/css">
            body {
                height: 100%;
                width: 100%;
                position: absolute;
            }
        </style>
        @styles
    </head>

    <body>
        <script type="text/javascript" language="javascript" src="//code.jquery.com/jquery.js"></script>
        <script type="text/javascript" language="javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
        <script type="text/javascript" language="javascript" src="//cdn.leafletjs.com/leaflet-0.7.1/leaflet.js"></script>

        @scripts

        @content
    </body>
</html>
